* {
    margin: 0;
    padding: 0;

}

header  {
    margin: 2%;
}

#right-col {
    width:25%;
    margin-right: 1%;
    display:flex;
    justify-content: center;
    border: solid 2px purple;
    border-radius: 5%;
}

#main-container {
    height: 50vh;
    width:100%;
    margin:1%;

}

#left-col {
    width:70%;
    border: solid 2px black;

}
#main-container {
    display:flex;
}