* {
    margin: 0;
    padding: 0;

}

header  {
    margin: 2%;
}

aside {
    margin-right: 1%;
    display:flex;
    justify-content: flex-end;
    border: solid 2px purple;
    border-radius: 5%;
}

#main-container {
    height: 50vh;
    width:70%;
    margin:1%;
    border: solid 2px black;
}